/* cafe12 style.css */
*{
    margin: 0;
    padding: 0;
}
/* 모바일 기준 */
#container{
    width: 100%;
}
/* header스타일 */
header{
    height: 320px;
}
header nav{
    height: 60px;
    background-color: #000;
}
nav #main-nav{
    text-align: center;
}
nav #main-nav li{
    display: inline-block;
    line-height: 60px; /*수직 가운데*/
    padding: 0 20px;
}
nav #main-nav li a{
    color: #fff;
    text-decoration: none;
}
#main-pic img{
    height: 260px;
}

/* 섹션(section) 영역 */
section{
    height: 320px;
    padding: 10px 5%; /*좌우 안쪽여백 브라우저 크기*/
}
section .page-Title{
    margin: 20px;
}
section p{
    line-height: 2.5;
}
section .content .photo{
    display: none;
}
/*태블릿 기준*/
@media screen and (min-width:780px) {
    #container{width: 780px;
    margin: 0 auto;
    }
    header{ height: 360px; }
    #main-pic img{height: 300px;}
    section{height: 400px; padding: 20px 5%;}
    section .content .photo{
        display: block;
        float: right;
        width: 40%;
    }
    section .content .text{
        width: 55%;
        float: left;
    }
    
}