/* mysite */
*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    margin: 0 auto;
 
}
header{
    width: 100%;
    height: 80px;
    background: #006699;
}
header #logo{
    width: 30%; /* header 크기의 80%*/
    float: left;
    line-height:  80px; /*수직 정렬 - 가운데*/
}
#logo h1{
color: greenyellow;
font-style: italic;
}
header nav{
    width: 70%;
   
    float: right;
}
nav ul{
    list-style: none;
     text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: lightcoral;
}
/* section */
section{
    width: 100%;
    height: 600px;
    background: url(../IMAGE/dog.jpg ) no-repeat;
    background-size: cover;
}
section h1{
    padding: 60px 0 40px 100px;
    color: #fff;
    text-shadow:  2px 2px 5px #000;
    font-size: 3em; /*1em = 16px * 3=48px */
}